/ First page, your photo and title
#page-0.bb-item
  .container
    .row
      .col-sm-12
        .card-box
          .row
            .col-xs-12
              .header-text.text-center
                = image_tag 'headshot.jpg', { :class => 'img-circle img', :alt => '' }
                %h2 Elizabeth Simonian
                %p Developer
                .social-links.header-links
                  = partial "partials/social"
          / /row
          .row
            .col-md-6.col-md-offset-1
              .introduce
                %h2.title About Me
                %p #{data.site.about_me}
            .col-md-5.col-xs-12
              .presonal-inform
                %ul.list-unstyled
                  %li.clearfix
                    %i.pe-7s-mail
                    %b Email:
                    esimonian@gmail.com
                  %li.clearfix
                    %i.pe-7s-map-marker
                    %b Location:
                    Playa Vista, CA
          / /row
/ /First page
