#page-4.bb-item
  #experience.bb-custom-side
    .container
      .row
        .col-sm-12
          .card-box
            .row
              .col-md-12.col-xs-12
                .section-title
                  %h2 experience
                  .title-border
                  %p
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %br>/
                    Lorem Ipsum is simply dummy text.
            / /row
            .time-line
              / Right Services
              .row
                .col-sm-6.pull-right.rex-right
                  .colam
                    .rs-round
                      %i.pe-7s-diamond
                    .rex-item
                      %h3 2012-2015
                      %h4 Senior Graphic Designer
                      %p Believe it or not its just me. Texas tea. Come and knock on our door. We've been waiting for you where are herhers and his. Three's company too.
              / /row
              / Left Services
              .row
                .col-sm-6.pull-left.rex-left
                  .colam
                    .rs-round.second
                      %i.pe-7s-door-lock
                    .rex-item
                      %h3 2010-2012
                      %h4 Web developer
                      %p Believe it or not its just me. Texas tea. Come and knock on our door. We've been waiting for you where are herhers and his. Three's company too.
              / /row
              / Right Services
              .row
                .col-sm-6.pull-right.rex-right
                  .colam-tird
                    .rs-round
                      %i.pe-7s-rocket
                    .rex-item
                      %h3 2007-2010
                      %h4 Freelancer
                      %p Believe it or not its just me. Texas tea. Come and knock on our door. We've been waiting for you where are herhers and his. Three's company too.
              / /row
/ /page-4