/ skill
#page-2.bb-item
  .bb-custom-side
    .container
      .row
        .col-sm-12
          .card-box
            .row
              .col-sm-12
                .section-title
                  %h2 skills
                  .title-border
                  %p
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %br>/
                    Lorem Ipsum is simply dummy text.
            / /row
            .row.text-center
              .col-sm-3
                .skill
                  .skill-chart.skill-circle{"data-bgcolor" => "#eee", "data-dimension" => "160", "data-fgcolor" => "#90a4ae", "data-fontsize" => "28", "data-percent" => "77", "data-text" => "77%", "data-width" => "6"}
                  %h4 Creativity
                  %i.pe-7s-cloud-download
              .col-sm-3
                .skill
                  .skill-chart.skill-circle{"data-bgcolor" => "#eee", "data-dimension" => "160", "data-fgcolor" => "#90a4ae", "data-fontsize" => "28", "data-percent" => "86", "data-text" => "86%", "data-width" => "6"}
                  %h4 Wordpress
                  %i.pe-7s-umbrella
              .col-sm-3
                .skill
                  .skill-chart.skill-circle{"data-bgcolor" => "#eee", "data-dimension" => "160", "data-fgcolor" => "#90a4ae", "data-fontsize" => "28", "data-percent" => "93", "data-text" => "93%", "data-width" => "6"}
                  %h4 Design
                  %i.pe-7s-like
              .col-sm-3
                .skill
                  .skill-chart.skill-circle{"data-bgcolor" => "#eee", "data-dimension" => "160", "data-fgcolor" => "#90a4ae", "data-fontsize" => "28", "data-percent" => "81", "data-text" => "81%", "data-width" => "6"}
                  %h4 Coding
                  %i.pe-7s-cup
            / /row
/ /page-2
/ /skill