/ skill
#page-2.bb-item
  .bb-custom-side
    .container
      .row
        .col-sm-12
          .card-box
            .row
              .col-sm-12
                .section-title
                  %h2 How I Spend My Time
                  .title-border
                  %p
            / /row
            .row.text-center
              .col-sm-4
                .skill
                  .skill-chart.skill-circle{"data-bgcolor" => "#eee", "data-dimension" => "160", "data-fgcolor" => "#90a4ae", "data-fontsize" => "28", "data-percent" => "45", "data-text" => "45%", "data-width" => "6"}
                  %h4 App Development
                  %i.pe-7s-global
                %ul.list-unstyled
                  %li.clearfix
                    %b Ruby
                    %br>/
                    Rails, Rspec, Middleman, Jekyll
                  %li.clearfix
                    %b Javascript
                    %br>/
                    Jquery, React/React Native, Ember
                  %li.clearfix
                    %b Python
                    %br>/
                    Django, PyPi modules
              .col-sm-4
                .skill
                  .skill-chart.skill-circle{"data-bgcolor" => "#eee", "data-dimension" => "160", "data-fgcolor" => "#90a4ae", "data-fontsize" => "28", "data-percent" => "45", "data-text" => "45%", "data-width" => "6"}
                  %h4 Systems Administration
                  %i.pe-7s-settings
                %ul.list-unstyled
                  %li.clearfix
                    %b Virtualization
                    %br>/
                    VMware, Vagrant, Docker, Kubernates
                  %li.clearfix
                    %b Automation
                    %br>/
                    Puppet, Ansible
                  %li.clearfix
                    %b CI/CD
                    %br>/
                    Jenkins, Gitlab
              .col-sm-4
                .skill
                  .skill-chart.skill-circle{"data-bgcolor" => "#eee", "data-dimension" => "160", "data-fgcolor" => "#90a4ae", "data-fontsize" => "28", "data-percent" => "10", "data-text" => "10%", "data-width" => "6"}
                  %h4 Design
                  %i.pe-7s-diamond
                %ul.list-unstyled
                  %li.clearfix
                    %b Tools
                    %br>/
                    Photoshop, Sketch

            / /row
/ /page-2
/ /skill
