#page-4.bb-item
  #experience.bb-custom-side
    .container
      .row
        .col-sm-12
          .card-box
            .row
              .col-md-12.col-xs-12
                .section-title
                  %h2 experience
                  .title-border
                  %p
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    %br>/
                    Lorem Ipsum is simply dummy text.
            / /row
            .time-line
              / Right Services
              .row
                .col-sm-6.pull-right.rex-right
                  .colam
                    .rs-round
                      %i.pe-7s-film
                    .rex-item
                      %h3 2017 - Present
                      %h4 Systems Engineer - Lightstorm Entertainment
                      %ul
                        %li Install, configure, test and maintain operating systems, application software and system management tools
                        %li Monitor and test application performance for potential bottlenecks, identify possible solutions, and work with developers to implement those fixes
                        %li Write and maintain custom scripts to increase system efficiency and lower the human intervention time on any tasks
              / /row
              / Left Services
              .row
                .col-sm-6.pull-left.rex-left
                  .colam
                    .rs-round.second
                      %i.pe-7s-door-lock
                    .rex-item
                      %h3 2017 - Present
                      %h4 Mentor - Udacity
                      %p Provided support and feed back to students enrolled in the Front End Developer and React Nanodegrees
              / /row
              / Right Services
              .row
                .col-sm-6.pull-right.rex-right
                  .colam-tird
                    .rs-round
                      %i.pe-7s-rocket
                    .rex-item
                      %h3 2014-2017
                      %h4 Freelance Web Developer
                      %ul
                        %li Write well designed, testable, efficient code by using best software development practices
                        %li Create and maintain software documentation
              / /row
              .row
                .col-sm-12.resume-button
                  %a.btn.btn-custom{:href => ""}
                    %i.fa.fa-download.download   Resume
/ /page-4
