%ul
  %li
    %a{:href => ""}
      %i.fa.fa-github.github
  %liaure:
    %a{:href => ""}
      %i.fa.fa-medium.medium
  %li
    %a{:href => ""}
      %i.fa.fa-linkedin.linkedin
  %li
    %a{:href => ""}
      %i.fa.fa-rss.rss
